
@media only screen and (min-width: 0px){
  .ossian{
    font-size: 1.25em;
    background-image: url(../images/bg-mobile.png);
    line-height: 1.25;
  }
  .game-logo{
    padding: 12rem 0 0;
    width: 160px;
  }
  .obj-1{
    top: 4rem;
    left: calc(50%);
    width: 240px;
  }
  .obj-2{
    top: 4rem;
    left: calc(50% - 290px);
    width: 370px;
  }
  ul.step{
    li{
      max-width: initial;
      width: 48%;
    }
  }
  .step-position{
    top: -25px;
    left: calc(50% - 25px);
    width: 50px;
  }
  .obj-5{
    top: 450px;
    left: calc(50% - 300px);
  }
  .btn-gift-1{
    &.bg-p{
      padding-bottom: 18rem;
    }
  }
  ul.event-note{
    padding: 0 1rem 15rem 3rem;
  }
  .obj-6{
    top: -14rem;
    left: calc(50% - 220px);
    width: 450px;
  }
  .obj-8{
    top: 30rem;
    left: calc(50% - 170px);
    width: 340px;
  }
  .title-1-1{
    &.pb-5{
      padding-bottom: 15rem;
    }
  }
  ul.twenty-years-list{
    padding: 2rem 2rem 2rem 3rem;
  }
  ul.bao-list{
    li{
      width: calc(50% - 2rem);
    }
  }
}

@media only screen and (min-width: 500px){
  .ossian{
    // font-size: 1.65em;
    background-image: url(../images/bg.png);
    line-height: 1.5;
  }
  .game-logo{
    padding: 8rem 0 1em;
    width: initial;
  }
  .obj-1{
    top: 5rem;
    left: calc(50% + 50px);
    width: initial;
  }
  .obj-2{
    top: 5rem;
    left: calc(50% - 550px);
    width: initial;
  }
  ul.step{
    li{
      max-width: 100%;
      width: 220px;
    }
  }
  .step-position{
    top: -35px;
    left: calc(50% - 35px);
    width: initial;
  }
}

@media only screen and (min-width: 840px){
  .obj-1{
    top: 20rem;
    left: calc(50% - 680px);
  }
  .obj-2{
    top: 20rem;
    left: calc(50% + 170px);
  }
  .obj-5{
    top: 140px;
    left: calc(50% + 160px);
  }
  .btn-gift-1{
    &.bg-p{
      padding-bottom: initial;
    }
  }
  ul.event-note{
    padding: 0 1rem 5rem 3rem;
  }
  .obj-6{
    top: -12rem;
    left: calc(50% - 800px);
    width: initial;
  }
  .obj-8{
    top: 8rem;
    left: calc(50% + 350px);
    width: initial;
  }
  .title-1-1{
    &.pb-5{
      padding-bottom: 3rem;
    }
  }
  ul.twenty-years-list{
    padding: 3rem 3rem 3rem 4rem;
  }
  ul.bao-list{
    li{
      width: calc(33% - 2rem);
    }
  }
}

@media only screen and (min-width: 1184px) and (max-width: 1420px){
  ul.step{
    li{
      max-width: initial;
      width: 24%;
    }
  }
}

@media only screen and (min-width: 841px) and (max-width: 1500px){
  ul.event-note{
    padding: 0 1rem 15rem 3rem;
  }
  .obj-6{
    top: -14rem;
    left: calc(50% - 300px);
    width: initial;
  }
}