@charset "UTF-8";
@import "initial";
@import "nav/nav"; // 漢堡選單
@import "tabs/tabs"; // 頁籤
@import "order/fixed-right"; // 右側懸浮 ICON

// 載入思源宋體 Medium
// font-family: 'Noto Serif TC', serif;
// font-weight: 500;

// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');


.ossian{
  // font-size: 1.65em;
  font-weight: bold;
  max-width: 1920px;
  // line-height: 1.5;
  // background-image: url(../images/bg.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.nav-bar{
  font-size: 1rem;
}

// 主視覺-----------------------------------------

.main{
  position: relative;
}

// 遊戲 LOGO
.game-logo{
  position: relative;
  margin: 0 auto;
  // padding: 8rem 0 1em;
  max-width: 265px;
  z-index: 2;
  img{
    width: 100%;
  }
}
// 活動標題
.site-title{
  position: relative;
  margin: 0 auto;
  padding: 0 0;
  max-width: 777px;
  z-index: 2;
  img{
    width: 100%;
  }
}

.obj-1{
  position: absolute;
  // top: 20rem;
  // left: calc(50% - 680px);
}

.obj-2{
  position: absolute;
  // top: 20rem;
  // left: calc(50% + 170px);
}

.obj-3{
  position: absolute;
  top: 50rem;
  left: calc(50% - 880px);
  z-index: 2;
}

// 年度回收日-------------------------------------

.recycling-day{
  position: relative;
  background-image: url(../images/bg-2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  article {
    text-align: center;
  }
}

.recycling-day-title{
  position: relative;
  margin: 0 auto;
  padding: 3rem 1rem 2rem;
  max-width: 604px;
  z-index: 2;
  img{
    width: 100%;
  }
}

.recycling-day-info{
  position: relative;
  padding: 1rem;
  z-index: 2;
}

.comics{
  position: absolute;
  bottom: -200px;
  left: calc(50% - 980px);
  z-index: 1;
}
.obj-5{
  position: absolute;
  // top: 140px;
  // left: calc(50% + 160px);
  z-index: 1;
}

ul.find-game-map{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 0;
  padding: 1.5rem 1rem 2.5rem;
  list-style: none;
  z-index: 2;
  &.p-2{
    padding: 0 1rem 1.5rem;
  }
  li{
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s, transform 0.3s;
    &:hover{
      transform: translateY(5px);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    }
    a{
      img{
        width: 100%;
      }
    }
  }
}

.btn-gift-1{
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 336px;
  z-index: 2;
  &.p-2{
    padding: 2rem 1rem;
  }
  img{
    width: 100%;
  }
}

.title-1-1{
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 1rem 3rem;
  max-width: 244px;
  z-index: 2;
  &.pt-1{
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
  img{
    width: 100%;
  }
}

ul.step{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 2em 0.5em;
  margin: 0;
  padding: 0 1rem;
  text-align: initial;
  list-style: none;
  z-index: 2;
  li{
    position: relative;
    padding: 3rem 1rem 1rem;
    // max-width: 100%;
    // width: 220px;
    color: #f3ce9c;
    text-align: justify;
    background-color: #0e0a10;
    border-radius: 20px;
    border: 5px solid #f3a642;
    transition: transform 0.3s;
    &:hover{
      transform: translateY(10px);
    }
  }
}
.step-position{
  margin: 0;
  padding: 0;
  position: absolute;
  // top: -35px;
  // left: calc(50% - 35px);
  img{
    width: 100%;
  }
}

ul.event-note{
  position: relative;
  margin: 0 auto;
  // padding: 0 1rem 5rem 3rem;
  max-width: 800px;
  width: 100%;
  z-index: 2;
  li{
    text-align: initial;
    em{
      font-style: normal;
      color: white;
    }
  }
}

// 周年慶歡樂送-------------------------------------

.anniversary{
  position: relative;
  padding: 0 1rem;
  background-image: url(../images/obj-7.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #ffe3bc;
}

.happy-delivery{
  position: relative;
  margin: 0 auto;
  padding: 5rem 1rem 3rem;
  max-width: 607px;
  z-index: 2;
  img{
    width: 100%;
  }
}

.obj-6{
  position: absolute;
  // top: -12rem;
  // left: calc(50% - 800px);
  z-index: 1;
}

.happy-box{
  position: relative;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 1000px;
  width: 100%;
  color: #f3ce9c;
  background-color: #21123a;
  z-index: 2;
  em{
    color: white;
    font-style: normal;
  }
}

// 二十載簽到禮-------------------------------------

.twenty-years{
  position: relative;
  padding: 0 1rem;
  text-align: center;
  color: #f3ce9c;
  background-color: #21123a;
  background-image: url(../images/bg-3.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.twenty-years-title{
  position: relative;
  margin: 0 auto;
  padding: 5rem 1rem 1rem;
  max-width: 604px;
  z-index: 2;
  img{
    width: 100%;
  }
}

ul.twenty-years-list{
  position: relative;
  margin: 0 auto;
  // padding: 3rem 3rem 3rem 4rem;
  color: #21123a;
  max-width: 1200px;
  width: 100%;
  line-height: 1.35;
  background-color: #ffe3bc;
  z-index: 2;
  li{
    text-align: initial;
    em{
      color: #f04709;
      font-style: normal;
    }
  }
}

.obj-8{
  position: absolute;
  // top: 8rem;
  // left: calc(50% + 350px);
  z-index: 1;
}

// 自訂 sweetalert2 樣式 ............................................................

.swal2-container{
  font-family: $document-font-family;
}

// sweetalert2 底色

div:where(.swal2-container) div:where(.swal2-popup){
  background: $custom-1;
  border: 10px solid $custom-2;
  border-radius: 20px;
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.85) inset, 0 -2px 1px rgba(255, 255, 255, 0.5) inset;
}

div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
    background: rgba(0,0,0,.8);
}

// sweetalert2 close 顏色

.swal2-close{
  color: $custom-2;
}

// sweetalert2 標題設定

div:where(.swal2-container) h2:where(.swal2-title){
  padding: 0.25em 1em;
  color: $document-default-color;
  // border-bottom: 3px dashed $custom-2;
}

// 修改預設的文字顏色

div:where(.swal2-container) div:where(.swal2-popup){
  color: inherit;
}

// sweetalert2 包含 html 內容的容器

.swal2-html-container{
  >ul{
    margin: 0;
    padding-left: 1.5em;
    li{
      text-align: left;
      line-height: 1.5;
      border-bottom: 1px dotted $custom-2;
    }
  }
}

div:where(.swal2-container) .swal2-html-container{
  margin: initial;
  padding: 0.5em 1em 1em 1em;
}

// sweetalert2 OK 的按鈕設定
// 移除按鈕 outline

.swal2-popup .swal2-styled{
  font-weight: bold;
  background-color: $custom-3;
  border-radius: 8px;
  outline: none;
}
.swal2-popup .swal2-styled:focus,
.swal2-close:focus {
  box-shadow: none !important;
}

// 清除按鈕區塊的 margin

div:where(.swal2-container) div:where(.swal2-actions){
  margin: initial;
}



@import "rwd"; // 自適應